<mat-toolbar fxFlex="100" class="mat-elevation-z1 fixed-header header_color">

    <!--<button mat-icon-button id="menu" *ngIf="flagLogueo" mat-button (click)="navService.toggleMenu()">
        <mat-icon>view_headline</mat-icon>
    </button>-->
    <img alt="" class="imageHea">
    <span class="app-fill-remaining-space"></span>
    <div fxLayout="row" fxFlex="100" fxLayoutAlign="end end" fxLayoutGap="10px">
        <ul class="logout-label">
            <li *ngIf="flagLogueo">
                <a href="#" onclick="return false">
                </a>
            </li>
            <!-- Control Sidebar Toggle Button -->
            <li>
                <a *ngIf="!flagLogueo" routerLink="/authentication">ACCEDER</a>
            </li>
        </ul>
    </div>

    <div class="showP2 headertext headercolor opciones" fxLayout="row" fxFlex="100" fxLayoutAlign="start" fxLayoutGap="5px" *ngIf="flagLogueo">
        <div *ngFor="let trigger of navItems">
        <app-headermenu
          [trigger]="trigger"
          [isRootNode]="false">
        </app-headermenu>
      </div>
    </div>

    <div fxLayout="row" fxFlex="100" fxLayoutAlign="end center" fxLayoutGap="10px" *ngIf="flagLogueo">
        <mat-icon (click)="logout()" class="black-icon logouticon" mat-list-icon>power_settings_new</mat-icon>
    </div>

</mat-toolbar>