<div fxFlex="1 1 calc(100% - 32px)" fxFlex.lt-md="0 1 calc(90% - 32px)" fxFlex.lt-sm="100%">
  <mat-card class="proyecto-card">
      <mat-card-content>
          <fieldset class="mat-elevation-z0">
            
              <form fxLayoutGap="25px" fxLayout="row wrap" fxLayout.lt-sm="column"
                  fxLayout.lt-xs="column" fxLayoutAlign="space-between center">

                  <div fxFlex="100" fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="20px">
                      <button mat-raised-button class="first_button" (click)="nuevoUsuario()" type="button">
                          Registrar Usuario</button>
                  </div>

              </form>
          </fieldset>

          
          <table mat-table [dataSource]="dataSource" style="width:100%">

            <ng-container matColumnDef="dni">
              <th mat-header-cell *matHeaderCellDef>DNI</th>
              <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
            </ng-container>
        
            <ng-container matColumnDef="nombre">
              <th mat-header-cell *matHeaderCellDef>Nombre</th>
              <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
            </ng-container>

            <ng-container matColumnDef="apaterno">
              <th mat-header-cell *matHeaderCellDef>Apellido P.</th>
              <td mat-cell *matCellDef="let element"> {{element.apaterno}} </td>
            </ng-container>

            <ng-container matColumnDef="amaterno">
              <th mat-header-cell *matHeaderCellDef>Apellido M.</th>
              <td mat-cell *matCellDef="let element"> {{element.amaterno}} </td>
            </ng-container>
      
            <ng-container matColumnDef="rol">
              <th mat-header-cell *matHeaderCellDef>Rol</th>
              <td mat-cell *matCellDef="let element">
                  <span *ngIf="element.rol === 1">ADMIN_ROLE</span>
                  <span *ngIf="element.rol === 2">USER_ROLE</span>
                  <span *ngIf="element.rol === 3">SALES_ROLE</span>
              </td>
            </ng-container>
      
            <ng-container matColumnDef="contra">
              <th mat-header-cell *matHeaderCellDef>Contraseña</th>
              <td mat-cell *matCellDef="let element; let i=index;">
                  <button mat-icon-button>
                      <mat-icon class="mat-18" (click)="verContra(element.password)">visibility</mat-icon>
                  </button>
              </td>
            </ng-container>
      
            <ng-container matColumnDef="fecha_crea">
              <th mat-header-cell *matHeaderCellDef>Fecha Creación</th>
              <td mat-cell *matCellDef="let element" > {{ element.fecha_creacion.substring(0, element.fecha_creacion.indexOf('T')) }} </td>
            </ng-container>
      
            <ng-container matColumnDef="fecha_act">
              <th mat-header-cell *matHeaderCellDef>Fecha Actualización</th>
              <td mat-cell *matCellDef="let element"> {{ (element.fecha_actualizacion !== null) ? element.fecha_actualizacion.substring(0, element.fecha_actualizacion.indexOf('T')) : null }} </td>
            </ng-container>
      
            <ng-container matColumnDef="fecha_desac">
              <th mat-header-cell *matHeaderCellDef>Fecha Desactivación</th>
              <td mat-cell *matCellDef="let element"> {{ (element.fecha_desactivacion !== null) ? element.fecha_desactivacion.substring(0, element.fecha_desactivacion.indexOf('T')) : null }} </td>
            </ng-container>
      
            <ng-container matColumnDef="estado">
              <th mat-header-cell *matHeaderCellDef>Estado</th>
              <td mat-cell *matCellDef="let element">
                  <span *ngIf="element.estado === 1">ACTIVO</span>
                  <span *ngIf="element.estado === 0">DESACTIVADO</span>
              </td>
            </ng-container>
      
            <ng-container matColumnDef="estado_change">
              <th mat-header-cell *matHeaderCellDef>Cambio Estado</th>
              <td mat-cell *matCellDef="let element; let i=index;">
                  <button mat-icon-button (click)="changeStatus(element.dni, element.estado)">
                      <mat-icon class="mat-18">autorenew</mat-icon>
                  </button>
              </td>
            </ng-container>
      
            <ng-container matColumnDef="editar">
              <th mat-header-cell *matHeaderCellDef>Editar</th>
              <td mat-cell *matCellDef="let element; let i=index;">
                  <button mat-icon-button (click)="usuarioPopUp(element, 2)">
                      <mat-icon class="mat-18">edit</mat-icon>
                  </button>
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
      </mat-card-content>
  </mat-card>
</div>